/*Variaveis cores*/
:root{
    --backgroundMain: #010101;
    --fontTitleAndBorder: #d87093;
    --fontsubtitle: #ffc0cb;
    --fontext: #f6f5f5;
    --fontfamily : 'Montserrat', sans-serif;  
    --houver: #eadadd;
    --click: #a63548;
}

/*General*/

body{
    font-family: var(--fontfamily);
    background-color: var(--backgroundMain);  
    color: var(--fontext);
    font-size: 18px;
}

.container{
    padding-right : 6%;
    padding-left : 6%;
}
/*Header*/
.top {
    
 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
   

    padding-top: .75rem;
    padding-bottom: .75rem;


    /*border-bottom: 1px solid var(--fontTitleAndBorder);*/
}

.logo {
    width: 260px;
    height: 260px;
}

.navMenu {
    width:400px;
}

.navMenu ul {
    text-align: right;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--fontTitleAndBorder);
    
}

.navMenu a:hover {
    color: var(--houver);
}

/*About*/
.about {
    
    padding-top: 3rem;
    padding-bottom: 3rem;
    border-top: 1px solid var(--houver);
    border-bottom: 1px solid var(--houver);
}

.aboutTitle {
    color: var(--fontTitleAndBorder);
    font-weight: 700;
    font-size: 1.5rem;
    font-family: var(--fontfamily);
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 2rem;
}

.aboutTxTandImg{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.aboutText {
    margin: 0 5rem;
    line-height: 2rem;
    font-size: 20px;
}

.aboutImage{
    
    width: 500px;
    height: 500px;
    margin: 0 5rem ;
    
}



/*Contact*/

.contactTitle {
    color: var(--fontTitleAndBorder);
    font-weight: 700;
    font-size: 1.5rem;
    font-family: var(--montserrat);
    text-transform: uppercase;
    text-align: center;

    margin-bottom: 1.25rem;
}

.contact p{
    line-height: 1.5rem;
}

.contact {
    
    display: flex;
    flex-direction: column;
    text-align: center;

    padding-top: 2rem;
    padding-bottom: 2rem;
}

.contactBox{
    display: flex;
    text-align: center;
    justify-content: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.contactForm form{
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-right: 50px;
    
}

.contactForm label{
    padding-top: .5rem;
    padding-bottom: .5rem;
    
}

.contactSubtitle{
    color: var(--fontsubtitle);
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 1rem;
}

.location{
    margin-left: 50px;

}

.location iframe{
    padding-top: 1rem;
}

.buttonContact{

    color: var(--fontext);
    font-weight: bold;
    background-color: var(--fontTitleAndBorder);

    margin-top: 1rem;
    text-align : center;
      
    width: 100%;
    max-width : 350px;

    box-sizing: border-box;
    padding : 1rem 2rem;
    border-radius:5px;


}

/*Footer*/

.socialMedia ul{
    display: flex;
}

.socialMedia {
    
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 2.5rem;
    padding-bottom: 2rem;
}


.socialMedia a{
     margin: 0 .5rem .7rem;
}

.socialMedia img{
    width: 80px;
    
}

footer p{
    display: flex;
    justify-content: center;
}




